@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --link: #1a0dab;
  --subtitle-text: #5a6473;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-link: var(--link);
  --subtitle-text: var(--subtitle-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --link: #8ab4f8;
    --subtitle-text: #daf8c1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

a {
  color: var(--link);
}

